@mixin main-font {
    font-family: "oswald", sans-serif;
}

@mixin secondary-font {
    font-family: "Inter", sans-serif;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}