@import "_colors.scss";
@import "_mixins.scss";

*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	word-wrap: break-word;
    outline: 0;
}

@supports ( font-variation-settings: normal ) {
    body {
        @include secondary-font;
    }
}

body {
    @include secondary-font;
    font-size: 14px;
    line-height: 1.4;
    color: $darker;
    background: $white;
    position: relative;

    .bg-layer {
        position: absolute;
        width: 100%;
        height: 700px;
        background-color: $dark;
        top: 0;
        left: 0;
    }

    .wrapper {
        width: 100%;
        max-width: 1290px;
        margin: 0 auto;
        padding: 0 20px;
    }

    a {
        text-decoration: none;
        color: $fucsia;
        
        &:hover {
            text-decoration: none;
        }
    }

    h1, h2, h3 {
        margin: 0;
        @include main-font;
    }

    @keyframes live-dot {
        from {
            background-color: $fucsia;
        }
        
        to {
            background-color: transparent;
        }
    }
    
    .button-live {
        @include flex-center;
        @include main-font;
        background-color: transparent;
        color: $red;
        padding: 12px 0;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 12px;
        border-radius: 4px;
        position: relative;
        
        &:before {
            content: "";
            height: 6px;
            width: 6px;
            display: block;
            border-radius: 50%;
            background-color: $red;
            margin-right: 4px;
            animation: live-dot 1.5s ease-in-out infinite;
        }

        &__now {
            background-color: $red;
            color: $white;
            font-size: 10px;
            margin-left: 4px;
            padding: 2px 4px 1px;
            font-weight: 800;
        }
    }

    .logo {
        width: 120px;
        height: 50px;
        display: flex;

        svg {
            width: 100%;
            height: auto;
        }
    }

    .menu-button {
        display: none;
        cursor: pointer;
        height: 40px;
        width: 40px;
        border: 0;
        background: transparent;
        position: relative;
        margin: 10px;
        padding: 0;

        &__line {
            height: 2px;
            width: 25px;
            background-color: $dark;
            display: block;
            position: absolute;
            left: 8px;
            transition: all 0.2s ease-in-out;

            &:first-of-type {
                top: 15px;
            }
            &:last-of-type {
                top: 25px;
            }
        }

        &--active {
            .menu-button {
                &__line {
                    &:first-of-type {
                        top: 20px;
                        transform: rotate(45deg);
                    }
                    &:nth-child(2) {
                        height: 0;
                    }
                    &:last-of-type {
                        top: 20px;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }

    .main-content {
        min-height: calc(100vh - 320px);
    }

    .main-wrapper {
        max-width: 1280px;
        margin: 0 auto;
        z-index: 1;
        position: relative;
        padding: 0 15px;
    }

    .section-title {
        text-transform: uppercase;
        color: $fucsia;
        font-size: 40px;
        margin-bottom: 20px;
    }
    
    .button {
        background-color: $fucsia;
        border: 0;
        color: $white;
        @include main-font;
        text-transform: uppercase;
        cursor: pointer;
        padding: 15px 30px 13px;

        &:hover {
            background-color: $fucsia_h;            
        }

        &--loading {
            cursor: default;
            color: transparent;
            background: url("../images/spinner.svg") no-repeat center / 20px $fucsia_h;
        }

        &--hidden {
            opacity: 0;
            visibility: hidden;
        }
    }

    .loading-posts {
        text-align: center;
        font-weight: 600;
        display: none;
    }

    .search-form {
        max-width: 500px;
        margin: 0 auto 60px;
    }

    .search-button {
        height: 35px;
        width: 35px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 20px;
            height: 20px;
        }

        &__white {
            svg {
                path {
                    fill: $white;
                }
            }
        }
    }

    // Header
        .header,
        .footer {
            height: 100px;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;
            font-weight: 600;
        }

        .header {
            display: grid;
            grid-template-columns: 100px 1fr 35px 35px 65px;
            grid-gap: 10px;
            position: relative;
        }
    // .Header

    // Footer
        .footer {
            padding: 60px 0 20px;
            height: auto;
            background-color: $darker;
            color: $white;

            .wrapper {
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: 100px 1fr 200px;
                grid-gap: 20px 0;
            }

            &__author {
                grid-row: 2;
                grid-column: 2;
                text-align: center;
            }
        }
    // .Footer

    // Search Form
        .search {
            &-form {
                position: relative;
                width: 100%;

                .screen-reader-text {
                    display: none;
                }
            }

            &-field {
                width: 100%;
                border-radius: 4px;
                padding: 10px 50px 10px 15px;
                border: 2px solid rgba($dark, 0.2);
            }

            &-submit {
                position: absolute;
                right: 0;
                top: 0;
                background: url("../images/search.svg") no-repeat center / 18px;
                border: 0;
                height: 100%;
                font-size: 0;
                width: 50px;
                opacity: 0.5;
                cursor: pointer;
            }
        }
    // .Search Form

    // Menu Header
        .menu-header-container,
        .menu-footer-container {
            .menu {
                list-style: none;
                display: flex;
                justify-content: center;
                padding: 0;
                margin: 0;

                &-item {
                    position: relative;

                    a {
                        padding: 10px 25px;
                        color: $white;
                        font-size: 14px;
                        font-weight: 700;
                        transition: all 0.2s ease-in-out;

                        &:hover {
                            color: $fucsia;
                        }
                    }
                }

                .current_page_item,
                .current-menu-item {
                    &:after {
                        content: "";
                        position: absolute;
                        background-color: $fucsia;
                        border-radius: 50%;
                        height: 4px;
                        width: 4px;
                        left: calc(50% - 2px);
                        bottom: -5px;
                    }
                }
            }
        }

        .menu-footer-container {
            .menu {
                flex-wrap: wrap;
                
                &-item {
                    a { 
                        color: $white;
                        text-align: center;
                        display: block;
                    }
                }
            }
        }
    // .Menu Header

    // Social Sharing
        .social-sharing {
            @include flex-center;

            a {
                cursor: pointer;
                display: block;
                height: 40px;
                width: 40px;
                margin: 0 5px;
                background-size: 22px;
                background-position: center;
                background-repeat: no-repeat;
                transition: all .2s ease-in-out;

                &:hover {
                    filter: invert(100%) saturate(0%);
                }
            }

            &__facebook {
                background-image: url("../images/social/facebook.svg");
            }
            &__twitter {
                background-image: url("../images/social/twitter.svg");
            }
            &__whatsapp {
                background-image: url("../images/social/whatsapp.svg");
            }
            &__linkedin {
                background-image: url("../images/social/linkedin.svg");
            }
        }
    // .Social Sharing

    // Featured Posts Block
        .featured-block {
            display: grid;
            grid-gap: 2px;
            grid-template-columns: 1fr 260px 260px;
            margin-bottom: 60px;
        }
    // .Featured Posts Block

    // List Posts Block
        .list-block {
            display: grid;
            grid-gap: 60px 30px;
            grid-template-columns: repeat(auto-fill, minmax(396px, 1fr));
            margin-bottom: 140px;

            &--medium,
            &--small {
                grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
            }

            &--small {
                grid-gap: 30px;
            }

            &--section {
                margin-bottom: 60px;
            }
        }
    // .List Posts Block
    
    // Most Read
        .most-read {
            margin-bottom: 140px;

            &__posts {
                column-count: 3;
                column-gap: 60px;
            }
        }
    // .Most Read

    // Post Card
        .post-card {
            &__thumbnail {
                position: relative;
                padding-bottom: 50%;
                height: 0;
                display: block;
                overflow: hidden;

                &-bg {
                    margin: 0;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    transform: scale(1);
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }

            &__play-button {
                position: absolute;
                height: 50px;
                width: 50px;
                background: url("../images/play_white.svg") no-repeat center / 14px $dark;
                z-index: 1;
                right: 0;
                bottom: 0;
            }

            &__info {
                position: relative;
                padding: 15px 15px 0;
            }

            &__category {
                @include main-font;
                font-weight: 500;
                font-size: 12px;
                color: $fucsia;
                position: absolute;
                background-color: $white;
                text-transform: uppercase;
                letter-spacing: 0.2px;
                left: 0;
                top: -32px;
                padding: 10px 15px 8px 15px;
            }

            &__title {
                font-size: 20px;
                font-weight: 700;
                line-height: 1.4;
                letter-spacing: -0.3px;
                text-transform: uppercase;

                a {
                    color: $dark;
                    transition: all 0.2s ease-in-out;

                    background-image: linear-gradient(to right, $fucsia 0%, $fucsia 100%);
                    background-size: 0% 3px;
                    background-position: 0px 95%;
                    transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
                    background-repeat: no-repeat;

                    &:hover {
                        background-size: 100% 3px;
                    }
                }
            }

            &__desc {
                margin: 0;
            }

            // Card Number
                &-number {
                    display: grid;
                    grid-template-columns: 30px 1fr 100px;
                    
                    &:not(:last-of-type) {
                        margin-bottom: 30px;
                    }

                    &__index {
                        font-size: 50px;
                        font-family: oswald, sans-serif;
                        font-weight: 800;
                        text-align: right;
                        line-height: 1;
                        color: $dark;
                        opacity: 0.2;
                        left: 0;
                    }

                    &__category {
                        grid-column: 2;
                    }

                    &__title {
                        text-transform: uppercase;
                        font-size: 16px;
                        padding: 4px 10px 0 10px;

                        a {
                            color: $dark;
                        }
                    }

                    &__image {
                        margin: 0;
                        height: 80px;
                        border-radius: 4px;
                    }
                }
            // .Card Number

            // Featured
                &--featured {
                    &-main {
                        .post-card {
                            &__title {
                                font-size: 40px;
                                line-height: 1.2;
                                font-weight: 400;
                            }

                            &__play-button {
                                height: 60px;
                                width: 60px;
                                background-size: 18px;
                            }
                        }
                    }
                    
                    &-list {
                        .post-card {
                            &__thumbnail {
                                padding-bottom: 115%;
                            }

                            &__title {
                                font-weight: 400;
                                letter-spacing: 0.2px;
                            }
                        }
                    }

                    .post-card {
                        &__category {
                            background-color: $dark;
                            color: $white;
                            padding-bottom: 10px;
                            top: -34px;
                            letter-spacing: .2px;
                        }

                        &__title {
                            a {
                                color: $white;
                            }
                        }

                        &__play-button {
                            background-color: $fucsia;
                        }
                    }
                }
            // .Featured

            // Medium
                &--medium {
                    .post-card {
                        &__category {
                            font-size: 11px;
                        }

                        &__title {
                            font-size: 16px;
                        }

                        &__play-button {
                            height: 40px;
                            width: 40px;
                            background-size: 12px;
                        }
                    }
                }
            // .Medium

            // Small
                &--small {
                    display: grid;
                    grid-template-columns: repeat(2, 50%);
                    grid-gap: 15px;
                    align-items: start;

                    .post-card {
                        &__thumbnail {
                            &-bg {
                                &:hover {
                                    transform: scale(1);
                                }
                            }
                        }
                        
                        &__info {
                            padding: 0;
                        }

                        &__category {
                            padding: 0;
                            position: relative;
                            top: 0;
                            font-size: 12px;
                            text-transform: none;
                            margin-bottom: 4px;
                            display: block;
                        }
                        
                        &__title {
                            font-size: 12px;
                            height: 52px;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            letter-spacing: -.1px;
                        }

                        &__play-button {
                            height: 30px;
                            width: 30px;
                            background-size: 8px;
                        }
                    }
                }
            // .Small
        }
    // .Post Card

    // Post Detail
        .post-detail,
        .page-detail {
            &__wrapper {
                max-width: 1280px;
                margin: 0 auto;
            }

            &__top {
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 900px;
                margin: 40px auto 60px;
            }

            &__category {
                @include main-font;
                font-size: 16px;
                text-transform: uppercase;
            }

            &__date {
                opacity: 0.7;
                font-weight: 600;
                color: $white;
                margin-bottom: 20px;
            }

            &__title {
                @include main-font;
                font-size: 65px;
                color: $white;
                line-height: 1.1;
                letter-spacing: -2.5px;
                text-transform: uppercase;
                text-align: center;
                margin: 20px 0;
            }

            &__description {
                color: $white;
                text-align: center;
                font-size: 18px;
                font-weight: 600;
                margin-top: 0;
            }

            &__image {
                margin: 0 0 40px;
                position: relative;
                @include flex-center;
                
                &-img {
                    width: 100%;
                    height: auto;
                    z-index: 1;
                }

                &:after {
                    content: "";
                    box-shadow: 0 0 10px rgba($darkest, 0.4), 0 20px 20px rgba($darkest, 0.7);
                    bottom: 12px;
                    width: 80%;
                    height: 20px;
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }
            
            &__video-play {
                background-color: $fucsia;
                height: 80px;
                width: 80px;
                @include flex-center;
                position: absolute;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                z-index: 2;

                svg {
                    width: 46px;
                    height: 46px;
                }

                &:hover {
                    background-color: $fucsia_h;
                }
            }

            &__body {
                max-width: 780px;
                margin: 0 auto;

                img {
                    height: auto;
                }

                h2 {
                    color: $dark;
                    font-size: 28px;
                }

                p {
                    font-size: 16px;
                    line-height: 2;

                    a {
                        color: $fucsia;
                        text-decoration: underline;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }

                iframe {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                }
            }

            &__tags {
                display: flex;
                flex-wrap: wrap;
            }

            &__tag-item {
                a {
                    padding: 5px 10px;
                    margin: 0 5px 0 0;
                    text-transform: capitalize;
                    text-transform: uppercase;
                    @include main-font;
                    background-color: rgba($fucsia, 0.05);
                    border-radius: 4px;
                    display: block;
                    font-size: 13px;
                    transition: all .2s ease-in-out;

                    &:hover {
                        background-color: rgba($fucsia, 0.1);
                    }
                }
            }
        }
    // .Post Detail

    // Page Detail
        .page-detail {
            margin: 80px 0;

            .wrapper {
                margin: 0 auto;
                max-width: 780px;
            }

            &__title {
                font-size: 65px;
                margin-bottom: 80px;
                color: $dark;
            }
        }
    // .Page Detail

    // Error Page
        .error-page {
            display: grid;
            justify-content: center;
            text-align: center;
            padding: 60px 0 0;

            &__title {
                display: none;
                font-size: 0;
                color: transparent;
            }

            &__image {
                svg {
                    width: 100%;
                    height: auto;
                }
            }

            &__description {
                font-weight: 600;
                font-size: 20px;
                letter-spacing: -.5px;
                margin: 60px 0 20px;
            }
        }
    // .Error Page

    // Category
        .category-page {
            &__name {
                text-align: center;
                font-size: 75px;
                letter-spacing: -3.5px;
                margin: 20px 0 40px;
                @include main-font;
                text-transform: capitalize;
            }

            &--is-loading {
                .loading-posts {
                    display: block;
                }

                .button__load-more {
                    display: none;
                }
            }

            margin-bottom: 100px;
        }
    // Category

    // Video embed
        .video-embed {
            &__iframe {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                border: 0;
                background-color: $darkest;
                z-index: 2;
            }
        }
    // .Video embed

    // Related Posts
        .related-posts {
            margin: 100px 0 0;
            
            &__title {
                @include main-font;
                font-size: 18px;
                letter-spacing: -0.7px;
                margin: 0 0 20px;
            }
        }
    // .Related Posts

    // Has no dark layer
        &:not(.has-dark-layer) {
            .dark-mode__trigger {
                &:not(.dark-mode__trigger--is-on) {
                    background-image: url("../images/dark_mode_off_dark.svg");
                }
            }

            .menu-header-container {
                .menu {
                    &-item {
                        a {
                            color: $dark;

                            &:hover {
                                color: $fucsia;
                            }
                        }
                    }
                }
            }
        }
    // .Has no dark layer

    // Gutenberg Blocks
        .wp-block {
            &-embed-youtube,
            &-gallery,
            &-image,
            &-quote {
                margin: 40px 0;
                width: 120%;
                position: relative;
                left: -10%;

                figcaption,
                cite {
                    font-style: normal;
                    opacity: 0.6;
                    font-size: 14px;
                    font-weight: 600;
                }

                img {
                    width: 100%;
                }

                p {
                    @include secondary-font;
                    font-weight: 700;
                    font-size: 30px;
                    letter-spacing: -.9px;
                    line-height: 1.3;
                    margin: 0 0 20px;
                }
            }

            &-quote {
                &:before {
                    content: "";
                    background: url("../images/quote_red.svg") no-repeat center / 60px;
                    height: 60px;
                    width: 60px;
                    position: absolute;
                    left: -80px;
                    top: 0;
                }
            }

            &-separator {
                margin: 60px 0;
                border: 0;
                position: relative;
                height: 4px;
                @include flex-center;

                &:before,
                &:after {
                    content: "";
                    background: $fucsia;
                    width: 20px;
                    height: 100%;
                    border-radius: 12px;
                }

                &:after {
                    width: 4px;
                    margin-left: 2px;
                }
            }

            &-embed-youtube {
                height: 0;
                padding-bottom: 65%;

                .wp-block-embed__wrapper {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    // .Gutenberg Blocks

    @import "_dark.scss";
    @import "_media.scss";
}